.experience-container {
  padding: 30px;
}

.experience-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.experience-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  overflow: hidden;
  background-color: #f9f6f6; /* Optional: Add background color */
}

.experience-details {
  flex: 1;
  margin-right: 20px; /* Add margin to separate details from the image */
}

.experience-image {
  padding-top: 10px;
  width: 150px;
  height: auto;
  overflow: hidden;
}

.experience-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.company {
  margin-bottom: 8px;
}

.pos-duration {
  margin-bottom: 6px;
}

.pos {
  font-size: 20px;
}

/* Media query for screens smaller than 1150px */
@media (max-width: 1450px) {
   .experience-item {
    flex-direction: column; 
  }

  .experience-image{
    margin: auto;
  }
}


@media (max-width: 1050px) {

  .experience-item {
    flex-direction: row; 
  }

  .experience-image{
    margin: none;
  }

  .experience-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 20px;
  }
}


@media (max-width: 700px) {

  .experience-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .experience-item {
    flex-direction: column; 
  }
}




