.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
.hero-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
  
.hello-world-container {
    position: absolute;
    top: 20%; /* Adjust this value to position the text */
    width: 90%;
    text-align: center;
    z-index: 1;
}
  
.hello-world {
    font-size: 3rem;
    margin: 0;
    color: #00ffff;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #00ffff;
    animation: typing-erasing 8s steps(24, end) infinite;
}
  
.hero-text {
    position: absolute;
    bottom: 20%; /* Adjust this value to position the text */
    text-align: center;
    color: white;
    z-index: 1;
}
   
.hero-text h1 {
    font-size: 4rem;
    margin: 0.5rem 0;
    color: #ec9cf3c7;
}
  
.describe{
    font-size: 1.5rem;
    margin: 0.5rem 0 0;
    color: #ffffff;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}
  
@keyframes typing-erasing {
    0% {
      width: 0;
    }
    33% {
      width: 11ch;
    }
    66% {
      width: 11ch;
    }
    100% {
      width: 0;
    }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #00ffff; }
}
  

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
  
.hero-text.fade-in {
    animation: fadeIn 4s ease-out;
}

.animated-text {
    background-image: -webkit-linear-gradient(DarkSalmon 50%, LightYellow 50%);
    background-size: 100% 50px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: stripes 2s linear infinite;
    animation: stripes 2s linear infinite;
    font-size: 1.5rem;
}
@-webkit-keyframes stripes {
    100% {
      background-position: 0 -50px;
    }
}
@keyframes stripes {
    100% {
      background-position: 0 -50px;
    }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px; /* Adjust as needed */
  width: 100%;
  z-index: 1;
  left: 15px;
}

.social {
    margin-right: 60px; /* Adjust spacing between social icons */
    transition: color 0.3s ease; 
}

.social:hover {
    opacity: 0.5; 
}

@media (max-width: 700px) {
  .hello-world{
    font-size: 40px;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .describe{
    font-size: 1rem;
    margin: 10px;
}

  .animated-text{
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .hero-text.fade-in {
    animation: fadeIn 3s ease-out;
}

.socials {
  bottom: 30px; /* Adjust as needed */
}
}
