/* Profile.css */

.profile-container {
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: 10px;
  margin: 20px;
}

.profile-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.self { 
  color: rgb(254, 206, 116);
  display: inline;
}

.profile-image {
  border-radius: 50%;
  width: 300px;
  height: auto;
  margin-right: 40px;
}

.profile-text {
  max-width: 600px;
  text-align: left;
  margin-left: 20px;
}

.profile-text h2.about {
  font-size: 2.5rem;
  color: #333;
}

.profile-text pre {
  font-size: 1.2rem;
  background-color: #1E1E1E;
  padding: 20px;
  border-radius: 10px;
  white-space: pre-wrap;
  color: white;
}

.profile-text .keyword {
  color: #569CD6;
}

.profile-text .function-name {
  color: #f8f8be;
}

.profile-text .variable {
  color: #9CDCFE;
}

.profile-text .equals {
  color: #FF6347; /* Tomato color for '=' */
}

.profile-text .value {
  color: #CE9178; /* Light orange color for values */
}

/* Add border between Profile and Projects */
.profile-projects-divider {
  border-top: 2px solid #ddd; /* Change color and thickness as needed */
  margin-top: 20px; /* Adjust margin to add space between components */
}
